---
import type { AnyFeaturableDocument, Language } from '@root/sanity/sanity.types';
import { DEFAULT_LANGUAGE_ID, SUPPORTED_LANGUAGES_IDS, SUPPORTED_LANGUAGES_RECORD, UI_DICTIONARY } from '@lib/languageUtils';
import { getPreferredSlug } from '@lib/contentUtils';
import { generateRoute } from '@lib/routingUtils';
import { getFromRegistry } from '@lib/registry';
import { createSanityImage } from '@lib/imageUtils';

type Props = {
    lang: Language;
    items: AnyFeaturableDocument[];
};

const {
    lang = DEFAULT_LANGUAGE_ID,
    items,
} = Astro.props;
---

{Array.isArray(items) && items.length > 0 && (
    <aside class='featured-bar' aria-label={UI_DICTIONARY.featuredItemsLabel[lang]}>
        <ul class='featured-items'>
            {items.map((item) => {
                const slugData = getPreferredSlug(item, lang);
                if (!slugData) return;
                const routeToItem = generateRoute(item, slugData.langUsed);
                if (!routeToItem) return;
                const itemAsRegistered = getFromRegistry(item._id);
                if (!itemAsRegistered?.[slugData.langUsed]) return;
                const thumbnail = createSanityImage({
                    source: item.mainImage,
                    width: 1200,
                    height: 800,
                });
                return (
                    <li class='featured-item'>
                        {thumbnail && (
                            <div class='thumbnail'>
                                <Fragment set:html={thumbnail} />
                            </div>
                        )}
                        <div class='title'>
                            <a
                                href={routeToItem}
                                data-action='open-windowed-content-skeleton'
                                data-action-target-lang={slugData.langUsed}
                                data-action-target-type={item._type}
                                data-action-target-pathname={routeToItem}
                            >
                                {SUPPORTED_LANGUAGES_IDS.map((langId) => itemAsRegistered[langId]?.title && (
                                    <span lang={langId} dir={SUPPORTED_LANGUAGES_RECORD[langId].dir}>
                                        <bdi>{itemAsRegistered[langId]?.title}</bdi>
                                    </span>
                                ))}
                            </a>
                        </div>
                    </li>
                );
            })}
        </ul>
    </aside>
)}

<!-- <script> // TODO
    const THRESHOLD_AR = 2.0;
    const updateThumbnails = () => {
        const allThumbnails: NodeListOf<HTMLElement> | null = document.querySelectorAll('.featured-item .thumbnail');
        const thumbnailsToHide: HTMLElement[] | null = [];
        allThumbnails?.forEach((thumbnail) => {
            thumbnail.style.display = '';
        });
        allThumbnails?.forEach((thumbnail) => {
            const rect = thumbnail.getBoundingClientRect();
            const rawAspectRatio = rect.width / rect.height;
            const roundedAspectRatio = Math.round(rawAspectRatio * 100) / 100;
            console.log(roundedAspectRatio);
            if (roundedAspectRatio >= THRESHOLD_AR) {
                thumbnailsToHide.push(thumbnail);
            }
        });
        thumbnailsToHide?.forEach((thumbnail) => {
            thumbnail.style.display = 'none';
        });
    };
    updateThumbnails();
    const container: HTMLElement | null = document.querySelector('.featured-item')?.parentElement || document.body;
    let resizeTimeout: number | null = null;
    const observer = new ResizeObserver(() => {
        if (resizeTimeout) {
            clearTimeout(resizeTimeout);
        }
        resizeTimeout = window.setTimeout(() => {
            updateThumbnails();
        }, 50);
    });
    observer.observe(container);
</script> -->

<style lang='scss'>
    ul, li {
        list-style: none;
    }
    .featured-bar {
        order: 2;
        width: var(--featured-bar-width);
        height: var(--featured-bar-height);
    }
    .featured-items {
        display: flex;
        gap: var(--featured-items-gap);
        width: 100%;
        height: 100%;
        overflow: hidden;
        // N.B. flex-direction, align-items, and justify-content in @styles/global.scss
    }
    .featured-item {
        position: relative;
        display: flex;
        flex-direction: column;
        row-gap: var(--content-small-gap);
        width: 100%;
        min-width: 0;
        max-width: var(--featured-item-max-width);
        height: fit-content;
        max-height: 100%;
        padding-top: var(--featured-item-padding-top);
        padding-bottom: var(--featured-item-padding-bottom);
        padding-inline: var(--featured-item-padding-inline);
        border: 1px solid;
        overflow: hidden;
    }
    a {
        display: flex;
        flex-direction: column;
        text-align: right;
        @media (any-hover: hover) {
            &:hover {
                color: var(--text-link-hover-colour);
            }
        }
    }
    a::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    span {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        line-height: var(--average-text-line-height);
    }
    .thumbnail {
        overflow: hidden;
    }
    .thumbnail :global(img) {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    .title {
        flex: 1;
    }
</style>