---
import type { Language, Website } from '@root/sanity/sanity.types';
import { DEFAULT_LANGUAGE_ID } from '@lib/languageUtils';
import { fetchSvg } from '@lib/imageUtils';
import { UI_DICTIONARY } from '@lib/uiDictionary';

type Props = {
    lang: Language;
    websiteSettings: (Website & { logoUrl: string | undefined; logoAspectRatio: number | undefined; }) | undefined;
};

const {
    lang = DEFAULT_LANGUAGE_ID,
    websiteSettings,
} = Astro.props;

const svgContent = websiteSettings?.logoUrl && await fetchSvg(websiteSettings.logoUrl);

const FALLBACK_SVG_WIDTH = 494.81;

const FALLBACK_SVG_HEIGHT = 243.65;

const FALLBACK_SVG_ASPECT_RATIO = FALLBACK_SVG_WIDTH / FALLBACK_SVG_HEIGHT;

const resolvedAspectRatio = websiteSettings?.logoAspectRatio ?? FALLBACK_SVG_ASPECT_RATIO;
---

<Fragment set:html={`<style>:root{--logo-aspect-ratio:${resolvedAspectRatio};--logo-width:calc(var(--logo-height)*var(--logo-aspect-ratio));}</style>`} />

<div class='logo'>
    <div>
        <a
            href='/'
            title={UI_DICTIONARY.websiteTitle[lang]}
            aria-label={UI_DICTIONARY.websiteTitle[lang]}
            data-action='close-any-content'
            data-action-target-pathname='/'
            data-action-prevent-default='true'
        >
            {svgContent ? (
                <Fragment set:html={svgContent} />
            ) : (
                <svg viewBox={`0 0 ${FALLBACK_SVG_WIDTH} ${FALLBACK_SVG_HEIGHT}`} xmlns='http://www.w3.org/2000/svg'>
                    <path d='M262.43,19.08c7.51,8.38,6.07,19.65,6.07,19.65h2.02C273.41,14.16,254.34.29,248.27,0v10.4s6.36,0,14.16,8.67Z'/>
                    <path d='M165.9,6.36l-89.02,46.24-.58,9.25c6.65-4.62,89.02-45.67,89.02-46.24l.58-9.25Z'/>
                    <path d='M233.82,97.11l1.73-2.6c-2.31-.87-6.65-4.91-6.65-9.54,0-2.89,1.73-5.78,6.07-8.09L355.79,10.69l1.45-8.09-124.57,65.61c-8.96,4.62-9.54,10.69-9.54,14.45,0,9.25,10.69,14.45,10.69,14.45Z'/>
                    <path d='M375.15,158.38l1.73.58c1.45-3.18,3.18-4.91,6.94-7.51,6.65-4.62,102.89-61.56,103.18-62.14l2.89-10.4-110.98,65.9c-3.18,2.6-3.76,9.25-3.76,13.58Z'/>
                    <path d='M389.6,102.89l1.16.58c4.34-5.78,5.2-7.23,7.51-7.23,5.2,0,6.36,6.07,17.63,6.07,11.85,0,24.28-10.4,24.28-21.1,0-5.49-2.31-8.96-8.09-8.96-4.85,0-12.19,4.75-21.22,19.03-4.14-1.26-4.92-4-8.26-4-4.34,0-9.25,5.49-13.01,15.61ZM414.75,90.75c2.6-4.34,9.83-7.51,15.61-7.51,3.18,0,4.62.29,4.62,1.45,0,4.62-11.85,7.23-19.36,7.23-.55,0-1.06-.02-1.54-.05.21-.34.43-.7.67-1.1Z'/>
                    <path d='M466.19,138.15c-10.12,0-25.14,8.09-37.57,30.06l-3.47,6.07c-5.49,9.83-15.9,15.61-33.24,15.61-18.79,0-30.06-7.51-51.45-22.54l-60.98-42.78,127.75-65.32.58-40.17-3.76-2.02-153.76,91.04-4.62,29.77,15.9,13.3c7.34,6.21,12.71,13.52,14.7,22.49-7.91,8.44-21.08,13.35-31.75,13.35-21.1,0-41.62-1.73-43.06-37.28L195.67,3.76h-3.76l-25.43,33.24,20.52,152.31c4.91,35.55,10.69,54.34,50.87,54.34,10.4,0,28.32-2.31,33.53-4.91,6.65-12.72,17.63-28.61,14.74-59.83l23.12,23.7c31.5,32.08,51.45,41.04,73.99,41.04s29.48-2.02,38.15-25.43l6.36-17.34,5.49,21.97c4.91,19.65,22.83,21.68,43.93,20.52,8.67-14.45,13.87-28.04,17.63-46.53,0-43.06-11.27-58.67-28.61-58.67ZM433.72,187.16c3.97-8.04,12.32-12.59,21.49-12.59,11.27,0,24.57,9.83,27.75,19.65-16.36-.47-32.72-1.35-49.23-7.06Z'/>
                    <path d='m100.29 79.48s8.96 13.01 22.54 23.12c0 0 14.45-10.12 23.41-23.12-7.23-10.12-23.41-23.41-23.41-23.41-11.56 9.54-22.54 23.41-22.54 23.41z'/>
                    <path d='m23.99 145.67s14.45-10.12 23.41-23.12c-7.23-10.12-23.41-23.41-23.41-23.41-11.56 9.53-22.54 23.41-22.54 23.41s8.96 13.01 22.54 23.12z'/>
                    <path d='M157.52,124.28l-25.72,28.9,19.08,29.19c-7.8,3.18-17.63,4.62-26.01,4.62-19.36,0-35.84-15.61-38.44-51.45l-3.47-47.69h-3.76l-18.5,24.28,4.17,27.37-50.41,31.59c-3.47,2.02-11.85,27.46-11.85,40.46,0,23.7,37.57,25.14,46.53,20.52,4.34-1.45,13.58-24.28,21.1-36.99l3.3-5.5c10.74,42.69,28.34,54.05,50.75,54.05,10.98,0,23.99-1.73,30.35-4.91,7.8-13.01,16.19-30.93,16.19-50.29l-9.54-64.16h-3.76ZM17.05,187l51.04-25.78c1.22,8.47,2.61,16.12,4.17,23.02-20.44,9.68-42.55,8.22-55.21,2.76Z'/>
                    <path d='m23.99 52.02c-11.56 9.54-22.54 23.41-22.54 23.41s8.96 13.01 22.54 23.12c0 0 14.45-10.12 23.41-23.12-7.23-10.12-23.41-23.41-23.41-23.41z'/>
                    <path d='M21.97,44.51l.29,2.31h1.73l-.29-2.89c-1.45-15.61,3.18-27.75,8.09-27.75,1.73,0,3.18,2.89,2.6,6.94h1.16l6.65-8.09c0-8.67-5.49-11.27-8.96-11.27-7.51,0-13.58,9.25-14.16,21.39C15.32,15.9,9.83,8.09,4.62,6.36L0,21.68l1.45,1.45c3.76-4.34,18.79,7.23,20.52,21.39Z'/>
                </svg>
            )}
        </a>
    </div>
</div>

<style lang='scss'>
    .logo {
        order: 3;
        margin-top: auto;
        margin-left: auto;
    }
    .logo div {
        height: var(--logo-height);
    }
    .logo :global(svg) {
        display: block;
        height: 100%;
        width: auto;
        max-width: 100%;
    }
</style>