---
import type { Language, Website } from '@root/sanity/sanity.types';
import { DEFAULT_LANGUAGE_ID } from '@lib/languageUtils';
import { fetchSvg } from '@lib/imageUtils';
import { HOME_PAGE_PATHNAME } from '@lib/routingUtils';
import { UI_DICTIONARY } from '@lib/uiDictionary';

type Props = {
    lang: Language;
    websiteSettings: (Website & { logoUrl: string | undefined; logoAspectRatio: number | undefined; }) | undefined;
};

const {
    lang = DEFAULT_LANGUAGE_ID,
    websiteSettings,
} = Astro.props;

const svgContent = websiteSettings?.logoUrl && await fetchSvg(websiteSettings.logoUrl, true);

const FALLBACK_SVG_WIDTH = 493.2;

const FALLBACK_SVG_HEIGHT = 241.2;

const FALLBACK_SVG_ASPECT_RATIO = FALLBACK_SVG_WIDTH / FALLBACK_SVG_HEIGHT;

const resolvedAspectRatio = websiteSettings?.logoAspectRatio ?? FALLBACK_SVG_ASPECT_RATIO;
---

<Fragment set:html={`<style>:root{--logo-aspect-ratio:${resolvedAspectRatio};--logo-width:calc(var(--logo-height)*var(--logo-aspect-ratio));}</style>`} />

<div class='logo' transition:persist='logo'>
    <div>
        <a
            href={HOME_PAGE_PATHNAME}
            title={UI_DICTIONARY.websiteTitle[lang]}
            aria-label={UI_DICTIONARY.websiteTitle[lang]}
            data-action='close-any-content'
            data-action-target-pathname={HOME_PAGE_PATHNAME}
            data-action-prevent-default='true'
        >
            {svgContent ? (
                <Fragment set:html={svgContent} />
            ) : (
                <svg viewBox={`0 0 ${FALLBACK_SVG_WIDTH} ${FALLBACK_SVG_HEIGHT}`} xmlns='http://www.w3.org/2000/svg'>
                    <path d='M164.4,3.8l-89,46.2-.6,9.2c6.7-4.6,89-45.7,89-46.2,0,0,.6-9.2.6-9.3h0Z'/>
                    <path d='M232.3,94.5l1.7-2.6c-2.3-.9-6.6-4.9-6.6-9.5s1.7-5.8,6.1-8.1L354.3,8.1l1.5-8.1-124.6,65.6c-9,4.6-9.5,10.7-9.5,14.4,0,9.2,10.7,14.4,10.7,14.4h0Z'/>
                    <path d='M373.6,155.8l1.7.6c1.5-3.2,3.2-4.9,6.9-7.5,6.6-4.6,102.9-61.6,103.2-62.1l2.9-10.4-111,65.9c-3.2,2.6-3.8,9.2-3.8,13.6h0Z'/>
                    <path d='M464.7,135.5c-10.1,0-25.1,8.1-37.6,30.1l-3.5,6.1c-5.5,9.8-15.9,15.6-33.2,15.6s-30.1-7.5-51.5-22.5l-61-42.8,127.8-65.3.6-40.2-3.8-2-153.8,91-4.6,29.8,15.9,13.3c7.3,6.2,12.7,13.5,14.7,22.5-7.9,8.4-21.1,13.4-31.8,13.4-21.1,0-41.6-1.7-43.1-37.3L194.2,1.2h-3.8l-25.4,33.2,20.5,152.3c4.9,35.6,10.7,54.3,50.9,54.3s28.3-2.3,33.5-4.9c6.6-12.7,17.6-28.6,14.7-59.8l23.1,23.7c31.5,32.1,51.5,41,74,41s29.5-2,38.1-25.4l6.4-17.3,5.5,22c4.9,19.6,22.8,21.7,43.9,20.5,8.7-14.4,13.9-28,17.6-46.5,0-43.1-11.3-58.7-28.6-58.7h.1ZM432.2,184.6c4-8,12.3-12.6,21.5-12.6s24.6,9.8,27.8,19.6c-16.4-.5-32.7-1.4-49.2-7.1h0Z'/>
                    <path d='M98.8,76.9s9,13,22.5,23.1c0,0,14.4-10.1,23.4-23.1-7.2-10.1-23.4-23.4-23.4-23.4-11.6,9.5-22.5,23.4-22.5,23.4Z'/>
                    <path d='M22.5,143.1s14.4-10.1,23.4-23.1c-7.2-10.1-23.4-23.4-23.4-23.4C10.9,106.1,0,120,0,120c0,0,9,13,22.5,23.1Z'/>
                    <path d='M156,121.7l-25.7,28.9,19.1,29.2c-7.8,3.2-17.6,4.6-26,4.6-19.4,0-35.8-15.6-38.4-51.4l-3.5-47.7h-3.8l-18.5,24.3,4.2,27.4-50.4,31.6c-3.5,2-11.9,27.5-11.9,40.5,0,23.7,37.6,25.1,46.5,20.5,4.3-1.4,13.6-24.3,21.1-37l3.3-5.5c10.7,42.7,28.3,54.1,50.8,54.1s24-1.7,30.3-4.9c7.8-13,16.2-30.9,16.2-50.3l-9.5-64.2h-3.8ZM15.5,184.4l51-25.8c1.2,8.5,2.6,16.1,4.2,23-20.4,9.7-42.5,8.2-55.2,2.8Z'/>
                    <path d='M22.5,49.4C10.9,59,0,72.8,0,72.8c0,0,9,13,22.5,23.1,0,0,14.5-10.1,23.4-23.1-7.2-10.1-23.4-23.4-23.4-23.4Z'/>
                </svg>
            )}
        </a>
    </div>
</div>

<style lang='scss'>
    .logo {
        order: 3;
        margin-top: auto;
        margin-left: auto;
    }
    .logo div {
        height: var(--logo-height);
    }
    .logo :global(svg) {
        display: block;
        height: 100%;
        width: auto;
        max-width: 100%;
    }
</style>