---
import type { CollectionDocument, CollectionDocumentType, Language, StaticDocument, StaticDocumentType } from '@root/sanity/sanity.types';
import { generateRoute } from '@lib/routingUtils';
import { getSlug, getTitle } from '@lib/contentUtils';

type Props = {
    items: (CollectionDocument | StaticDocument)[];
    lang: Language;
    title: string;
    type: CollectionDocumentType | StaticDocumentType;
    min: number;
};

const {
    items,
    lang,
    title,
    type,
    min,
} = Astro.props;

const delta = min - items.length;
---

{items.length > 0 && (
    <li class='navigation-menu-item'>
        <button type='button' data-nav-expand aria-expanded='false' aria-controls={`${type}-submenu-${lang}`}>
            {title}
        </button>
        <ul id={`${type}-submenu-${lang}`} class='navigation-submenu' aria-hidden='true' hidden>
            {items.map((item) => {
                const slug = getSlug(item, lang);
                const itemTitle = getTitle(item, lang);
                return slug && (
                    <li class='navigation-submenu-item'>
                        <a href={generateRoute(item, lang)}>
                            {itemTitle}
                        </a>
                    </li>
                    <li class='navigation-submenu-item'></li>
                    <li class='navigation-submenu-item'></li>
                    <li class='navigation-submenu-item'></li>
                    <li class='navigation-submenu-item'></li>
                    <li class='navigation-submenu-item'></li>
                    <li class='navigation-submenu-item'></li>
                    <li class='navigation-submenu-item'></li>
                    <li class='navigation-submenu-item'></li>
                );
            })}
        </ul>
    </li>
)}