---
import type { CollectionDocument, CollectionDocumentType, Language, StaticDocument, StaticDocumentType } from '@root/sanity/sanity.types';
import { generateRoute } from '@lib/routingUtils';
import { getSlug, getTitle } from '@lib/contentUtils';

type Props = {
    items: (CollectionDocument | StaticDocument)[];
    lang: Language;
    title: string;
    type: CollectionDocumentType | StaticDocumentType;
};

const {
    items,
    lang,
    title,
    type,
} = Astro.props;
---

{items.length > 0 && (
    <li>
        <button type='button' data-nav-expand aria-expanded='false' aria-controls={`${type}-submenu-${lang}`}>
            {title}
        </button>
        <ul id={`${type}-submenu-${lang}`} aria-hidden='true' hidden>
            {items.map((item) => {
                const slug = getSlug(item, lang);
                const itemTitle = getTitle(item, lang);
                return slug && (
                    <li>
                        <a href={generateRoute(item, lang)}>
                            <span>
                                {itemTitle}
                            </span>
                        </a>
                    </li>
                );
            })}
        </ul>
    </li>
)}