---
import type { GetStaticPaths } from 'astro';
import type { CollectionDocument, CollectionDocumentType, Language } from '@root/sanity/sanity.types';
import { SUPPORTED_LANGUAGES_IDS, SUPPORTED_LANGUAGES_RECORD } from '@lib/languageUtils';
import { definedLocalisedSlug, RESOLVED_CONTENT_QUERY, RESOLVED_TRANSLATION_GROUP_QUERY } from '@lib/groqUtils';
import sanityClient from '@root/sanity/sanity.cli';
import { getContent, getSlug, getSummary, getTextLength, getTranslations, groupByLanguageField, groupByLocalisedSlug, type Translations } from '@lib/contentUtils';
import { registerId } from '@lib/registry';
import { LOCALE_PREFIXES } from '@lib/routingUtils';
import { DOCUMENT_COLLECTION_PATHS } from '@lib/routingUtils';
import { getTitle } from '@lib/contentUtils';
import Layout from '@layouts/Layout.astro';
import PageContent from '@components/PageContent.astro';

export const getStaticPaths: GetStaticPaths = async () => {
    const documentTypes: CollectionDocumentType[] = ['project', 'writing', 'happening', 'resource'];
    const languages: Language[] = SUPPORTED_LANGUAGES_IDS as Language[];
    const paths: { params: Record<string, string>, props: Record<string, any> }[] = [];
    for (const documentType of documentTypes) {
        const baseQueryFields = [
            '_id',
            '_type',
            'language',
            'title',
            'slug',
            'date',
            'summary',
            'mainImage',
            RESOLVED_CONTENT_QUERY,
            RESOLVED_TRANSLATION_GROUP_QUERY,
        ];
        if (documentType === 'happening') {
            baseQueryFields.push(
                'startDate',
                'startTime',
                'timezone',
                'location',
            );
        }
        const queryFields = baseQueryFields.join(', ');
        const documents: CollectionDocument[] = await sanityClient.fetch(`
            *[_type == '${documentType}' && (defined(slug.current) || ${definedLocalisedSlug})] {
                ${queryFields}
            }
        `);
        const isSlugLocalised = documents.length > 0
            && typeof documents[0].slug === 'object'
            && !('current' in documents[0].slug);
        for (const lang of languages) {
            const localisedDocs = isSlugLocalised
                ? groupByLocalisedSlug(documents, lang)
                : groupByLanguageField(documents, lang);
            for (const doc of localisedDocs) {
                const slug = getSlug(doc, lang);
                if (!slug) continue;
                const locale = LOCALE_PREFIXES[lang];
                const collection = DOCUMENT_COLLECTION_PATHS[documentType];
                registerId(doc._id, lang, doc._type, slug, isSlugLocalised);
                const translations = getTranslations(doc, lang);
                paths.push({
                    params: {
                        locale: locale,
                        collection: collection,
                        slug: slug,
                    },
                    props: {
                        lang: lang,
                        doc: doc,
                        translations: translations,
                    },
                });
            }
        }
    }
    return paths;
};

type Props = {
    lang: Language;
    doc: CollectionDocument;
    translations: Translations;
};

const {
    lang,
    doc,
    translations,
} = Astro.props;

const resolvedTitle = getTitle(doc, lang);
const resolvedDescription = getSummary(doc, lang);
const resolvedImage = doc.mainImage;
const resolvedContent = getContent(doc, lang);
const resolvedTextLength = getTextLength(doc, lang);
---

<Layout
    lang={lang}
    dir={SUPPORTED_LANGUAGES_RECORD[lang].dir}
    title={resolvedTitle}
    description={resolvedDescription}
    image={resolvedImage}
    mode={{
        name: 'windowed',
        type: doc._type,
        textLength: resolvedTextLength,
    }}
    alternates={translations}
>
    {resolvedTitle && (
        <div class='content-header'>
            <h2>
                <bdi>{resolvedTitle}</bdi>
            </h2>
            <time>
                <bdi>00_00_0000</bdi>
            </time>
        </div>
    )}
    {resolvedContent && (
        <PageContent source={resolvedContent} lang={lang} />
    )}
</Layout>