---
import type { GetStaticPaths } from 'astro';
import type { CollectionDocument, CollectionDocumentType, Language } from '@root/sanity/sanity.types';
import { SUPPORTED_LANGUAGES_IDS, SUPPORTED_LANGUAGES_RECORD } from '@lib/languageUtils';
import { RESOLVED_CONTENT_QUERY } from '@lib/groqUtils';
import sanityClient from '@root/sanity/sanity.cli';
import { getContent, getSlug, getSummary, groupByLanguageField, groupByLocalisedSlug } from '@lib/contentUtils';
import { LOCALE_PREFIXES } from '@lib/routingUtils';
import { DOCUMENT_COLLECTION_PATHS } from '@lib/routingUtils';
import { getTitle } from '@lib/contentUtils';
import Layout from '@layouts/Layout.astro';
import PageContent from '@components/PageContent.astro';

export const getStaticPaths: GetStaticPaths = async () => {
    const documentTypes: CollectionDocumentType[] = ['project', 'writing', 'happening', 'resource'];
    const languages: Language[] = SUPPORTED_LANGUAGES_IDS as Language[];
    const paths: { params: Record<string, string>, props: Record<string, any> }[] = [];
    for (const documentType of documentTypes) {
        const baseQueryFields = [
            '_type',
            'language',
            'title',
            'slug',
            'date',
            'summary',
            'mainImage',
            RESOLVED_CONTENT_QUERY,
        ];
        if (documentType === 'happening') {
            baseQueryFields.push(
                'startDate',
                'startTime',
                'timezone',
                'location',
            );
        }
        const queryFields = baseQueryFields.join(', ');
        const documents: CollectionDocument[] = await sanityClient.fetch(`
            *[_type == '${documentType}' && defined(slug)] {
                ${queryFields}
            }
        `);
        const isSlugLocalised = documents.length > 0
            && typeof documents[0].slug === 'object'
            && !('current' in documents[0].slug);
        for (const lang of languages) {
            const localisedDocs = isSlugLocalised
                ? groupByLocalisedSlug(documents, lang)
                : groupByLanguageField(documents, lang);
            for (const doc of localisedDocs) {
                const slug = getSlug(doc, lang);
                if (!slug) { continue; }
                paths.push({
                    params: {
                        locale: LOCALE_PREFIXES[lang],
                        collection: DOCUMENT_COLLECTION_PATHS[documentType],
                        slug: slug,
                    },
                    props: {
                        lang: lang,
                        doc: doc,
                    },
                });
            }
        }
    }
    return paths;
};

type Props = {
    lang: Language;
    doc: CollectionDocument;
};

const {
    lang,
    doc,
} = Astro.props;

const resolvedTitle = getTitle(doc, lang);
const resolvedDescription = getSummary(doc, lang);
const resolvedImage = doc.mainImage;
const resolvedContent = getContent(doc, lang);
---

<Layout
    lang={lang}
    dir={SUPPORTED_LANGUAGES_RECORD[lang].dir}
    title={resolvedTitle}
    description={resolvedDescription}
    image={resolvedImage}
    mode='windowed'
>
    {resolvedTitle && (
        <h2>{resolvedTitle}</h2>
    )}
    {resolvedContent && (
        <PageContent source={resolvedContent} lang={lang} />
    )}
</Layout>